<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Costa</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>play for Braga and Penafiel in Portugal</string>
			<string>was signed by Atlético Madrid </string>
			<string>scoring 27 goals as they won the league title in 2014</string>
			<string>joined Chelsea for £32 million</string>
		</array>
	</dict>
	<key>Batshuayi</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>scoring 44 goals in 120 games at Standard Liège</string>
			<string>the second-highest scorer in the 2013–14 Belgian Pro League </string>
			<string>transferred to Marseille for £4.5 million</string>
			<string>was signed by Chelsea for €33 million.

was signed by Chelsea for €33 million.

was signed by Chelsea for €33 million</string>
		</array>
	</dict>
	<key>Fabregas</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>was signed by English Premier League side Arsenal</string>
			<string>return to Barcelona in a deal worth up to £35 million</string>
			<string>scoring 27 goals as they won the league title in 2014</string>
			<string>returned to London in June 2014 to Chelsea for a fee of £30 million</string>
		</array>
	</dict>
	<key>Kante</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>play at Boulogne and then spent two seasons at Caen</string>
			<string>signed for Leicester City for a fee of €8 million</string>
			<string>signed for Chelsea</string>
			<string>made his senior international debut for France</string>
		</array>
	</dict>
	<key>Oscar</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>play at São Paulo</string>
			<string>left for Internacional</string>
			<string>signed for Chelsea for a fee of £19.35 million</string>
			<string>scored a first-half hat-trick in a 5–1 win at Milton Keynes Dons in the fourth round of the FA Cup</string>
		</array>
	</dict>
	<key>Hazzard</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>moved to France joining club Lille</string>
			<string>was signed by Atlético Madrid </string>
			<string>won the UNFP Young Player of the Year award becoming the first non-French player to win the award</string>
			<string>signed for English club Chelsea</string>
		</array>
	</dict>
	<key>Pedro</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>scored 99 goals in 321 appearances across all competitions for Barcelona </string>
			<string>became the first player in history to score in six different official club competitions in one season</string>
			<string>scored the winning goal as Barcelona won the 2015 UEFA Super Cup 5–4 against Sevilla</string>
			<string>joined Premier League champions Chelsea on a four-year contract for £19 million </string>
		</array>
	</dict>
	<key>Mikel</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>played for Nigeria at the FIFA World Youth Championships held in the Netherlands</string>
			<string>first start for Chelsea in the UEFA Champions League against Bulgarian club Levski Sofia</string>
			<string>received Premier League[35] and FA Cup[36] winner&apos;s medals as part of Chelsea&apos;s first ever league-cup double winning team</string>
			<string>scored his first-ever Premier League goal in a 2–0 win against Fulham.</string>
		</array>
	</dict>
	<key>Moses</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>began his career in the Championship with Crystal Palace,</string>
			<string>loan to Liverpool</string>
			<string>loan at Stoke City</string>
			<string> played his first league game for Chelsea in three years</string>
		</array>
	</dict>
	<key>Matic</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>play for edinstvo Ub and Slovak side MFK Košice </string>
			<string> joining Chelsea for £1.5 million</string>
			<string>moved to Benfica</string>
			<string>returned to Chelsea for £21 million</string>
		</array>
	</dict>
	<key>Willian</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>joining Shakhtar for a fee of €14 million</string>
			<string>won honours including four Ukrainian Premier League titles and the UEFA Cup</string>
			<string>joining Chelsea for £32 million</string>
			<string>winning the Premier League and League Cup in his second season in England</string>
		</array>
	</dict>
	<key>Aina</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>signed for Chelsea as an under-11</string>
			<string>made his first-team debut in a pre-season friendly against AFC Wimbledon</string>
			<string> was included in the first-team squad for the campaign</string>
			<string>continued his role in the Under-21s and Under-19s sides.</string>
		</array>
	</dict>
	<key>Cheek</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>joined Chelsea at the age of eight</string>
			<string>made 18 appearances for the U-18 squad and 9 appearances for the U-21 squad</string>
			<string>aptained Chelsea U18 as they won the FA Youth Cup</string>
			<string>made his first appearance coming off the bench against Crystal Palace as Chelsea suffered their first home defeat of the season.</string>
		</array>
	</dict>
	<key>Chalobah</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>joining the academy system at Fulham</string>
			<string>signed a professional contract with Chelsea</string>
			<string>signed a new five-year contract with Chelsea</string>
			<string>Chelsea rejected loan offers from teams including Leicester City, Sevilla and Napoli for Chalobah </string>
		</array>
	</dict>
	<key>Solanke</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>scored 20 goals in 25 games for Chelsea under-18s</string>
			<string>made him the youngest player to debut in the Champions League for Chelsea</string>
			<string>scored a brace in the semifinal of the 2014–15 UEFA Youth League against A.S. Roma to send Chelsea into the final</string>
			<string>reached 41 goals for the season after scoring a hat-trick in a 4-3 victory over Liverpool U21.

</string>
		</array>
	</dict>
	<key>Luiz</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>starting out at Vitória, he moved to Benfica</string>
			<string>joined Chelsea, winning the Champions League and the FA Cup in the following season</string>
			<string>transferred to Paris Saint-Germain for a fee of £50 million</string>
			<string>returned to Chelsea from PSG, for a reported fee of £34M</string>
		</array>
	</dict>
	<key>Azpilicueta</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>spent three seasons in La Liga before switching to Marseille</string>
			<string>moved to Chelsea, winning the Europa League</string>
			<string>first appearance with the full side in 2013</string>
			<string>selected for the 2014 World Cup and Euro 2016</string>
		</array>
	</dict>
	<key>Terry</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>named in the all-star squad for the 2006 FIFA World Cup, the only English player to make the team.</string>
			<string>became the first captain of Chelsea to lift the FA Cup</string>
			<string> the world&apos;s third best passer in 2011 for players</string>
			<string>received his first league red card for over five years, being dismissed for a foul on Salomón Rondón</string>
		</array>
	</dict>
	<key>Cahill</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>playing for the AFC Dronfield youth set-system in Derbyshire</string>
			<string>joined Burnley on a season-long loan</string>
			<string>performed well for Bolton through the years, cementing a place in the first team and becoming vice-captain</string>
			<string>signed for Chelsea for approximately £7 million</string>
		</array>
	</dict>
	<key>Zouma</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>won the Coupe de la Ligue with the club</string>
			<string>joined Chelsea for £12 million</string>
			<string>first full campaign in England</string>
			<string>represented France at youth levels, up to under-21</string>
		</array>
	</dict>
	<key>Alonso</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>started his career with Real Madrid</string>
			<string>make his name with Bolton Wanderers in England </string>
			<string>play with Fiorentina in Italy</string>
			<string>Chelsea to sign Alonso for an estimated £23 million</string>
		</array>
	</dict>
	<key>Ivanovic</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>first capped for Serbia</string>
			<string> play for Lokomotiv Moscow in the Russian Premier League</string>
			<string>signed for Premier League side Chelsea for a £9 million fee</string>
			<string>made captain of the national team</string>
		</array>
	</dict>
	<key>Begovic</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>made his Premier League debut</string>
			<string>being sold to Stoke City for £3.25 million</string>
			<string>became the fifth goalkeeper to score a goal in the Premier League</string>
			<string> joined Premier League champions Chelsea for a fee of £8 million</string>
		</array>
	</dict>
	<key>Courtois</key>
	<dict>
		<key>Answer</key>
		<array>
			<string> came up through the Genk youth system</string>
			<string> joined Chelsea for a reported €9 million</string>
			<string>loaned to Atlético Madrid</string>
			<string>was recalled to Chelsea</string>
		</array>
	</dict>
	<key>Conte</key>
	<dict>
		<key>Answer</key>
		<array>
			<string>took over at Juventus</string>
			<string>won three consecutive Serie A titles</string>
			<string>taking charge of the Italian national team</string>
			<string>signed a three-year contract with Chelsea</string>
		</array>
	</dict>
</dict>
</plist>
